{% extends 'base.html' %}


{% block content %}
<title>Collections</title>

<div class="d-flex align-items-center justify-content-between">
    <div class="float-start">
        <h1 class="mt-4">Collections</h1>
    </div>
    <div class="float-end vertical-align">
        <a id="create-collection" class="btn btn-success">Create Collection</a>
    </div>
</div>

{% if collection_list %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">No. Categories</th>
                <th scope="col">No. Datasets</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collection_list %}
                <tr>
                    <th scope="row"><a href="/collection/{{ collection.id }}">{{ collection.id }}</a></th>
                    <td style="text-transform: capitalize;">{{ collection.name }}</td>
                    <td>{{ collection.categories.count }}</td>
                    <td>{{ collection.dataset_choice.count }}</td>
                    <td>
                        <button type="button" class="update-collection btn btn-sm btn-primary" data-form-url="{% url 'collection:edit' collection.pk %}">
                            <span class="fa fa-edit"></span>
                          </button>
                        <button type="button" class="delete-collection bs-modal btn btn-sm btn-danger" data-form-url="{% url 'collection:delete' collection.pk %}">
                            <span class="fa fa-trash"></span>
                        </button>    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="float-end">
        {% include 'pagination.html' %}
    </div>
{% else %}
    <p>No collections are available.</p>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
    
        $("#create-collection").modalForm({
            formURL: "{% url 'collection:create' %}"
        });


        $(".update-collection").each(function () {
            $(this).modalForm({
                formURL: $(this).data("form-url")})
        });

        $(".delete-collection").each(function () {
            $(this).modalForm({
                formURL: $(this).data("form-url"), isDeleteForm: true
            });
        });
    
    });
</script>

{% endblock %}