{% extends 'base.html' %}

{% block content %}

<title>Sessions</title>

<div class="d-flex align-items-center justify-content-between">
    <div class="float-start">
        <h1 class="mt-4">Train sessions</h1>
    </div>
    <div class="float-end vertical-align">
        <a class="btn btn-success" href="/train/new">Train new</a>
    </div>
</div>


{% if train_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Dataset</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for train in train_list %}
                <tr>
                    <th scope="row"><a href="/train/{{ train.id }}">{{ train.id }}</a></th>
                    <td style="text-transform: capitalize;">{{ train.name }}</td>
                    <td>{{ train.model.name }}</td>
                    <td><a href="/dataset/{{ train.dataset.id }}">{{ train.dataset }}</a></td>
                    <td>
                        <b
                            class="
                            {% if train.status == 'Pending' %}
                            text-info
                            {% elif train.status == 'Running' %}
                            text-warning
                            {% elif train.status == 'Done' %}
                            text-success
                            {% elif train.status == 'Failed' or train.status == 'Cancelled' %}
                            text-danger
                            {% elif train.status == 'Not Started' %}
                            text-muted
                            {% endif %}
                            "
                        >{{train.status}}</b>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="float-end">
        {% include 'pagination.html' %}
    </div>
{% else %}
    <p>No train sessions are available.</p>
{% endif %}

{% endblock %}