{% extends 'base.html' %}

{% block content %}

<title>Models</title>

<div class="d-flex align-items-center justify-content-between">
    <div class="float-start">
        <h1 class="mt-4">Models</h1>
    </div>
    <div class="float-end vertical-align">
        <a id="create-model" class="btn btn-success">Create model</a>
    </div>
</div>


{% if model_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mode</th>
                <th scope="col">Tags</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for model in model_list %}
                <tr>
                    <th scope="row"><a href="/models/{{ model.id }}">{{ model.id }}</a></th>
                    <td style="text-transform: capitalize;">{{ model.name }}</td>
                    <td><code>{{ model.mode }}</code></td>
                    <td>
                        {% for tag in model.tags.all %}
                            <code>{{ tag }}</code> &nbsp
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="update-model btn btn-sm btn-primary" data-form-url="{% url 'models:edit_model' model.pk %}">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button type="button" class="delete-model bs-modal btn btn-sm btn-danger" data-form-url="{% url 'models:delete_model' model.pk %}">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="float-end">
        {% include 'pagination.html' %}
    </div>
{% else %}
    <p>No models are available.</p>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
    
        $("#create-model").modalForm({
            formURL: "{% url 'models:create_model' %}"
        });

        $(".update-model").each(function () {
            $(this).modalForm({
                formURL: $(this).data("form-url")})
        });

        $(".delete-model").each(function () {
            $(this).modalForm({
                formURL: $(this).data("form-url"), isDeleteForm: true
            });
        });
    
    });
</script>

{% endblock %}