<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" href="/sessions">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-running fa-lg"></i>
                </div>
                Session
            </a>
            <a class="nav-link" href="/dataset">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-table fa-lg"></i>
                </div>
                Dataset
            </a>
            <a class="nav-link" href="/collection">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-layer-group"></i>
                </div>
                Collection
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        BUM
    </div>
</nav>